# Virtual Environment
venv/
ENV/
env/

# Environment Variables & API Keys
.env
*.env

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor Settings
.vscode/
.idea/

# OS Specific Files
Thumbs.db
.DS_Store